body {
    background-color: turquoise;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.image{
    height: 400px;
    box-shadow: 5px 5px 5px #240646;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    background-color: #240646;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.link-button:hover {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    background-color: #3a0b70;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    margin: 0;
}
