body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    background-color: #240646;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    margin: 0;
    position: absolute;
    left: 50%;
}

.link-button:hover {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    background-color: #3a0b70;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    margin: 0;
    position: absolute;
    left: 50%;
=======
}

h1{
    text-align: center;
}